In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup as bs
import requests

In [2]:
table = pd.read_html('https://www.ine.es/daco/daco42/codmun/cod_ccaa_provincia.htm')

In [3]:
cods = pd.DataFrame(table[0])
cods.drop(50, axis=0, inplace = True)
cods.head(1)

  CODAUTO Comunidad Autónoma  CPRO Provincia
0      01          Andalucía   4.0   Almería

In [4]:
cambios = pd.DataFrame({})
cambios['original'] = (cods['Comunidad Autónoma'].tolist())+(cods['Provincia'].tolist())
cambios[['c1','c2']] = cambios['original'].str.split(',', expand = True)
cambios = cambios[cambios['c2'].isna() == False]

In [5]:
original= cambios['original'].tolist()
clean = (cambios['c2']+' '+cambios['c1']).tolist()

In [6]:
clean_dict = dict(zip(original, clean))
clean_dict

{'Asturias, Principado de': ' Principado de Asturias',
 'Balears, Illes': ' Illes Balears',
 'Madrid, Comunidad de': ' Comunidad de Madrid',
 'Murcia, Región de': ' Región de Murcia',
 'Navarra, Comunidad Foral de': ' Comunidad Foral de Navarra',
 'Rioja, La': ' La Rioja',
 'Palmas, Las': ' Las Palmas',
 'Coruña, A': ' A Coruña'}

In [7]:
cods.replace(clean_dict, inplace = True)

In [8]:
cods

   CODAUTO           Comunidad Autónoma  CPRO               Provincia
0       01                    Andalucía   4.0                 Almería
1       01                    Andalucía  11.0                   Cádiz
2       01                    Andalucía  14.0                 Córdoba
3       01                    Andalucía  18.0                 Granada
4       01                    Andalucía  21.0                  Huelva
5       01                    Andalucía  23.0                    Jaén
6       01                    Andalucía  29.0                  Málaga
7       01                    Andalucía  41.0                 Sevilla
8       02                       Aragón  22.0                  Huesca
9       02                       Aragón  44.0                  Teruel
10      02                       Aragón  50.0                Zaragoza
11      03       Principado de Asturias  33.0                Asturias
12      04                Illes Balears   7.0           Illes Balears
13      05                     Canarias  35.0              Las Palmas
14      05                     Canarias  38.0  Santa Cruz de Tenerife
15      06                    Cantabria  39.0               Cantabria
16      07              Castilla y León   5.0                   Ávila
17      07              Castilla y León   9.0                  Burgos
18      07              Castilla y León  24.0                    León
19      07              Castilla y León  34.0                Palencia
20      07              Castilla y León  37.0               Salamanca
21      07              Castilla y León  40.0                 Segovia
22      07              Castilla y León  42.0                   Soria
23      07              Castilla y León  47.0              Valladolid
24      07              Castilla y León  49.0                  Zamora
25      08           Castilla-La Mancha   2.0                Albacete
26      08           Castilla-La Mancha  13.0             Ciudad Real
27      08           Castilla-La Mancha  16.0                  Cuenca
28      08           Castilla-La Mancha  19.0             Guadalajara
29      08           Castilla-La Mancha  45.0                  Toledo
30      09                     Cataluña   8.0               Barcelona
31      09                     Cataluña  17.0                  Girona
32      09                     Cataluña  25.0                  Lleida
33      09                     Cataluña  43.0               Tarragona
34      10         Comunitat Valenciana   3.0        Alicante/Alacant
35      10         Comunitat Valenciana  12.0      Castellón/Castelló
36      10         Comunitat Valenciana  46.0       Valencia/València
37      11                  Extremadura   6.0                 Badajoz
38      11                  Extremadura  10.0                 Cáceres
39      12                      Galicia  15.0                A Coruña
40      12                      Galicia  27.0                    Lugo
41      12                      Galicia  32.0                 Ourense
42      12                      Galicia  36.0              Pontevedra
43      13          Comunidad de Madrid  28.0                  Madrid
44      14             Región de Murcia  30.0                  Murcia
45      15   Comunidad Foral de Navarra  31.0                 Navarra
46      16                   País Vasco   1.0             Araba/Álava
47      16                   País Vasco  48.0                 Bizkaia
48      16                   País Vasco  20.0                Gipuzkoa
49      17                     La Rioja  26.0                La Rioja
51      18                        Ceuta  51.0                   Ceuta
52      19                      Melilla  52.0                 Melilla

In [9]:
cod_coms = cods.loc[:,['CODAUTO', 'Comunidad Autónoma']]
cod_coms.rename(columns={'CODAUTO':'com_id','Comunidad Autónoma':'comunidad'}, inplace = True)
cod_coms.drop_duplicates(subset='comunidad', keep='first', inplace = True)
#cod_coms.to_csv('cod_comundades.csv', encoding='utf-8-sig', index = False)

In [10]:
cod_coms.head(2)

  com_id  comunidad
0     01  Andalucía
8     02     Aragón

In [11]:
cod_provs = cods.loc[:,['CPRO','CODAUTO','Provincia']]
cod_provs.rename(columns={'CPRO':'prov_id','CODAUTO':'com_id','Provincia':'provincia'}, inplace = True)
cod_provs.dropna(inplace = True)
cod_provs['prov_id'] = cod_provs['prov_id'].apply(lambda x: int(x))
cod_provs['com_id'] = cod_provs['com_id'].apply(lambda x: int(x))
#cod_provs.to_csv('cod_provincias.csv', encoding='utf-8-sig', index = False)

In [12]:
cod_provs.head(2)

   prov_id  com_id provincia
0        4       1   Almería
1       11       1     Cádiz