In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup as bs
import requests

In [2]:
densidad = pd.read_csv('../Data/clean_data/densidad_poblacion.csv')

In [3]:
densidad.head(1)

,prov_id,mun_id,total_2023,hombres_2023,mujeres_2023,ine_id,municipio,provincia,comunidad,km2,densidad
0,1,1001,2975.0,1539.0,1436.0,1001000000,Alegria-dulantzi,Provincia de Araba,Pais Vasco,1995.0,1.491228

In [4]:
contagio = pd.DataFrame(densidad.densidad)

In [5]:
contagio['prov_id'] = densidad.prov_id
contagio['mun_id'] = densidad.mun_id

In [6]:
contagio

         densidad  prov_id  mun_id
0        1.491228        1    1001
1        1.070368        1    1002
2        0.192302        1    1003
3        0.671308        1    1004
4        0.179289        1    1006
...           ...      ...     ...
8158     0.012774       50   50901
8159     0.051418       50   50902
8160     0.320725       50   50903
8161  4488.594595       51   51001
8162  6950.487805       52   52001

[8163 rows x 3 columns]