In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup as bs
import requests

In [3]:
locations = pd.read_excel('../Data/Raw/loc_code.xlsx')

In [5]:
locations.head(2)

   CODAUTO  CPRO  CMUN  DC               NOMBRE
0       16     1    51   3  Agurain/Salvatierra
1       16     1     1   4     Alegría-Dulantzi

In [6]:
locations['CODAUTO'] = locations['CODAUTO'].apply(lambda x: str(x).zfill(2))

In [7]:
locations['CPRO'] = locations['CPRO'].apply(lambda x: str(x).zfill(2))

In [8]:
locations['CMUN'] = locations['CMUN'].apply(lambda x: str(x).zfill(3))

In [9]:
locations.rename(columns={'CODAUTO':'com_id', 'CPRO':'prov_id','CMUN':'mun_id'}, inplace = True)
locations.drop(columns=['DC'], inplace = True)

In [11]:
locations.mun_id = locations.prov_id + locations.mun_id
locations.head(4)

  com_id prov_id mun_id               NOMBRE
0     16      01  01051  Agurain/Salvatierra
1     16      01  01001     Alegría-Dulantzi
2     16      01  01002              Amurrio
3     16      01  01049                Añana

In [12]:
#locations.to_csv('location_codes.csv', encoding='utf-8-sig', index = False)