In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup as bs
import requests

In [2]:
mun_codes = pd.read_csv('../Data/clean_data/mun_codes.csv')

In [3]:
prov_codes = pd.read_csv('../Data/clean_data/prov_codes.csv')

In [4]:
provs = pd.read_csv('../Data/clean_data/contagio_provincias.csv')

In [5]:
muns = pd.read_csv('../Data/clean_data/contagio_municipios.csv')

In [6]:
mun_codes.head(1)

   com_id  prov_id  mun_id               NOMBRE
0      16        1    1051  Agurain/Salvatierra

In [11]:
mun_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8132 entries, 0 to 8131
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   com_id   8132 non-null   int64
 1   prov_id  8132 non-null   int64
 2   mun_id   8132 non-null   int64
 3   NOMBRE   8132 non-null   object
dtypes: int64(3), object(1)
memory usage: 254.3+ KB

In [7]:
prov_codes.head(1)

   prov_id           provincia
0        1  Provincia de Alaba

In [8]:
provs.head(1)

,prov_id,provincia,km2,total_prov,densidad,R0,prob_inf
0,1,Provincia de Alaba,293470.0,336686.0,1.147259,5.736293,0.998614

In [9]:
muns.head(1)

   densidad  prov_id  mun_id         municipio       R0  prob_inf
0  1.491228        1    1001  Alegria-dulantzi  7.45614  0.999985